In [34]:
import sqlite3

try:
    sqlite3_version = sqlite3.sqlite_version
    print(f"SQLite is available, version: {sqlite3_version}")
except ImportError:
    print("SQLite is not installed or not available in this Python environment")

SQLite is available, version: 3.41.2

In [37]:
connection = sqlite3.connect("my_database.db")

In [38]:
# Create a cursor object
cursor = connection.cursor()

# Create a table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    position TEXT
)
""")
print("Table created successfully")

Table created successfully

In [39]:
# Insert data into the table
cursor.execute("INSERT INTO employees (name, age, position) VALUES (?, ?, ?)", 
               ("Alice", 28, "Data Scientist"))

# Commit changes to save the data
connection.commit()
print("Data inserted successfully")

Data inserted successfully

In [40]:
# Query data from the table
cursor.execute("SELECT * FROM employees")

# Fetch all rows and print
rows = cursor.fetchall()
for row in rows:
    print(row)

('Alice', 28, 'Data Scientist')
('Bob', 34, 'Engineer')
('Charlie', 29, 'Analyst')
('Alice', 28, 'Data Scientist')

In [41]:
# Update a record
cursor.execute("UPDATE employees SET age = ? WHERE name = ?", (29, "Alice"))
connection.commit()
print("Data updated successfully")

Data updated successfully

In [42]:
import pandas as pd

# Load data into a DataFrame
df = pd.read_sql_query("SELECT * FROM employees", connection)
print(df.head())

      name  age        position
0    Alice   29  Data Scientist
1      Bob   34        Engineer
2  Charlie   29         Analyst
3    Alice   29  Data Scientist

In [43]:
try:
    connection = sqlite3.connect("my_database.db")
    cursor = connection.cursor()
    # Perform operations
finally:
    if connection:
        connection.close()
        print("SQLite connection closed")

SQLite connection closed

In [46]:
# Sample DataFrame
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [28, 34, 29],
    "position": ["Data Scientist", "Engineer", "Analyst"]
}
df = pd.DataFrame(data)

# Connect to SQLite database
connection = sqlite3.connect("my_database.db")
# Insert DataFrame into database table "employees"
df.to_sql("employees", connection, if_exists="append", index=False) #replace
print("Data inserted successfully")

Data inserted successfully

In [47]:
# Verify insertion by querying the table
result = pd.read_sql("SELECT * FROM employees", connection)
print(result)

# Close the connection
connection.close()

      name  age        position
0    Alice   28  Data Scientist
1      Bob   34        Engineer
2  Charlie   29         Analyst
3    Alice   28  Data Scientist
4      Bob   34        Engineer
5  Charlie   29         Analyst